/*    Global    */
* {
    margin: 0;
    padding: 0;
}


.main {
    background-color: #484848;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


/*   Header   */
.cities-list {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cities {
    border: none;
    font-weight: 600;
}

.cities:hover {
    color: #fff;
}

.custom-header {
    background-color: #17dcff;
    display: flex;
    flex-direction: column;
}


/*    Styles for the *CURRENT* Weather cards  */
.custom-button {
    width: auto;
    min-width: 5vw;
}

.custom-button2 {
    width: auto;
    max-height: 5vh;
    height: auto;
}

.custom-jumbotron {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 40vh;
}

.custom-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.current-weather {
    width: 40%;
}

.city-stats-list {
    list-style: none;
    text-align: left;
    font-size: 30px;
}

.img-div {
    width: 40%;
    height: 40vh;
}

.city-name {
    font-size: 45px;
}

/*     5 day forecast      */
.forecast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    background-color: black;
}


.neon-row {
    box-shadow:
    0 0 0.1px 0.4px white,
    0 0 0.4px 0.6px white,
    0 0 4px 0.4px white,
    inset 0 0 1.5px 0.4px white,
    inset 0 0 0.4px 0.2px white,
    inset 0 0 0.5px 0.2px white;
    border-radius: 1.5rem;
}

.neon-card {
    box-shadow: 0 0 0.1px 0.4px white,
    0 0 0.4px 0.6px lightblue,
    0 0 4px 0.4px lightblue,
    inset 0 0 0.5px 0.2px lightblue,
    inset 0 0 0.2px 0.1px lightblue;,
    inset 0 0 0.5px 0.2px lightblue;
}

.neon {
    text-align: center;
    color: #17dcff;
    text-shadow:
        .1vw 0vw .25vw #1e91f0, .2vw 0vw .25vw #1e3df0;
}

.toussaint-pic img {
    width: 50%;
}